<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">   

      <h1 class="display-5 mt-4 mb-2">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>
      <div class="mb-4">In <i class="fas fa-book"></i><strong>Bookers,</strong></div>
      <div class="mb-4">you can share and exchange your opinions , inpressions , and emotions</div>
      <div class="mb-3">about various books!</div>
      
      <div class="row justify-content-center">
        <div class="col-8">  
          <p class="text-center mb-3">
            <%= link_to "Log in", user_session_path, class: 'border w-100 px-5 py-1 rounded bg-info text-light' %>
          </p> 
          <p class="text-center">
            <%= link_to "Sign up", new_user_registration_path, class: 'border w-100 px-5 py-1 rounded bg-success text-light' %>
          </p>   
        </div>
      </div>
    </div>
  </div>
</div>
        
